/* --- FOOTER --- */
footer {
  background: rgb(0, 0, 0);
  background-image: url('/menu.jpg');
  background-size:bottom cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  text-decoration: solid white;
  padding: 40px 0 20px;
  margin-top: 60px;
}

/* .footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 40px;
  height: 40px;
} */

/* .footer-logo span {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  color: var(--primary);
} */

.social-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.social-links a {
  color: var(--white);
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--primary);
}

.copyright {
  font-size: 0.9rem;
  opacity: 0.8;
  text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
  .social-links {
    justify-content: center;
  }
}
